/* custom CSS properties */

ul {
	/* content columns */
	--features-cols: 4;
	--job-cols: 3;
	--team-cols: 4;
	--clients-cols: 6;

	--features-gap: calc((var(--features-cols) - 1) * var(--grid-gap));
	--features-basis: calc((100% - var(--features-gap)) / var(--features-cols));

	--job-gap: calc((var(--job-cols) - 1) * var(--grid-gap));
	--job-basis: calc((100% - var(--job-gap)) / var(--job-cols));

	--team-gap: calc((var(--team-cols) - 1) * var(--grid-gap));
	--team-basis: calc((100% - var(--team-gap)) / var(--team-cols));

	--clients-gap: calc((var(--clients-cols) - 1) * var(--grid-gap));
	--clients-basis: calc((100% - var(--clients-gap)) / var(--clients-cols));
}

/* utilities */

.section-title {
	margin-top: 0;
	margin-bottom: 50px;

	color: var(--font-bold-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
}

/* hero section */

.hero {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 200px;
	padding-bottom: 200px;

	background-color: var(--bg-dark-gray-color);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/hero-bg.jpg");
	background-position: center;
	text-align: center;
}

.hero__title {
	margin-top: 0;
	margin-bottom: 30px;

	color: var(--font-inversed-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

/* job features section */

.features-and-job {
	padding: var(--padding-section) 0;
}

/* features block */

.features {
	margin-bottom: var(--padding-section);
}

.features__title {
	margin-top: 0;
	margin-bottom: 10px;

	color: var(--font-bold-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
}

.features__list {
	display: flex;
	gap: var(--grid-gap);
}

.features__item {
	flex-basis: var(--features-basis);
}

.features__icon {
	height: 120px;
	width: 100%;
	padding: 25px 0;
	margin-bottom: 30px;

	background-color: var(--bg-light-gray-color);
	text-align: center;
}

/* job block */

.job__name {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 70px;
	width: 100%;

	color: var(--font-inversed-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;

	background-color: rgba(47, 48, 58, 0.8);
}

.job__list {
	display: flex;
	gap: var(--grid-gap);
}

.job__item {
	position: relative;
	flex-basis: var(--job-basis);
}

/* team section */

.team {
	padding: var(--padding-section) 0;
	background-color: var(--bg-light-gray-color);
}

.team__list {
	display: flex;
	gap: var(--grid-gap);
}

.team__item {
	flex-basis: var(--team-basis);
	background-color: var(--bg-white-color);
	box-shadow: var(--primary-shadow);
}

.teammate__info {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
}

.teammate__name {
	margin-top: 0;
	margin-bottom: 10px;
	color: var(--font-bold-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
}

.teammate__role {
	font-size: 16px;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 16px;
}

/* clients section */

.clients {
	padding: var(--padding-section) 0;
}

.clients__list {
	display: flex;
	justify-content: center;
	gap: var(--grid-gap);
}

.clients__icon {
	flex-basis: var(--clients-basis);
	height: 92px;
	padding: 16px 0;

	cursor: pointer;
	text-align: center;
	fill: var(--icons-primary-color);
	border: 1px solid var(--icons-primary-color);
	border-radius: 4px;
	transition: border-color var(--anim-props), fill var(--anim-props);
}

.clients__icon:hover,
.clients__icon:focus {
	fill: var(--accent-color);
	border-color: var(--accent-color);
}

/* backdrop */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	opacity: 1;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity var(--anim-props);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

/* modal */

.modal {
	position: relative;
	top: 50%;
	left: 50%;
	padding: 40px;

	width: 528px;

	background-color: var(--bg-white-color);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	transform: translate(-50%, -50%) scale(1);
	transition: transform var(--anim-props);
}

.backdrop.is-hidden > .modal {
	transform: translate(-50%, -50%) scale(1.1);
}

.modal__title {
	margin-top: 0;
	margin-bottom: 12px;
	text-align: center;
}

.modal__close {
	position: absolute;
	top: 8px;
	right: 8px;

	height: 30px;
	width: 30px;
	padding: 6px;

	background-color: var(--bg-white-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}

/* modal form */

.form__inputs-list {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form__item {
	display: block;
	/*margin-bottom: 10px;*/
	cursor: pointer;
}

.form__label {
	display: block;
	cursor: pointer;
}

.form__input-wrapper {
	position: relative;
	display: block;
}

.form__input {
	padding-left: 40px;
	height: 40px;
	width: 100%;
	letter-spacing: 0.01em;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	cursor: pointer;
}

.form__input:focus-visible {
	border-color: var(--accent-color);
	outline: none;
}

.form__input:focus-visible ~ .form__icon {
	fill: var(--accent-color);
}

.form__input--textarea {
	display: block;
	resize: none;
	padding: 12px 16px;
	height: 120px;
}

.form__textarea::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.form__icon {
	position: absolute;
	top: 50%;
	left: 15px;
	height: 18px;
	width: 18px;
	transform: translateY(-50%);
	pointer-events: none;
}

/* policy terms agreement */

.policy {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	cursor: pointer;
}

.policy__checkbox {
	appearance: none;
}

.policy__check-icon {
	margin-right: 8px;
	height: 15px;
	width: 16px;
	border: 2px solid #000000;
	border-radius: 2px;
	background-image: url("../images/checkbox.svg");
	background-size: contain;
	background-origin: border-box;
}

.policy__label {
	margin-right: 4px;
}

.policy__checkbox:checked ~ .policy__check-icon {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.policy__link {
	color: var(--accent-color);
}

.form__send {
	display: block;
	margin: 0 auto;
}
